# Linux
**/.directory
**/*~

# npm
node_modules
package-lock.json
*.gz

#vscode
.vs_code/

#config
.env

#log
logs/
!logs/.empty

#http
http

#prisma
prisma

#prettier
.prettierignore
.prettierrc.yml

#eslint
.eslintrc.json

#nodemon
nodemon.json